# code and notes on recommender systems
-----------------

In [1]:
import pandas as pd

In [13]:
review = pd.read_csv('reviews.csv', index_col=0)
review.reset_index(drop=True, inplace=True)
review

,title,reviewer,overall,story,acting,music,rewatch
0,Mr. Sunshine,kingsqueen,10.0,10.0,10.0,10.0,10.0
1,Goblin,kingsqueen,10.0,10.0,10.0,10.0,10.0
2,The Bride of Habaek,kingsqueen,7.0,7.0,7.0,9.0,5.5
3,Jealousy Incarnate,kingsqueen,8.5,8.5,10.0,10.0,9.0
4,Suspicious Partner,kingsqueen,7.0,7.0,9.0,7.0,5.0
...,...,...,...,...,...,...,...
1115,Prosecutor Princess,manicmuse,4.0,7.0,5.0,3.0,4.0
1116,Something in the Rain,manicmuse,7.0,6.0,8.0,7.0,6.0
1117,One Million Stars Falling from the Sky,manicmuse,7.5,8.0,7.0,7.0,7.0
1118,Ms. Perfect,manicmuse,2.0,3.0,4.0,5.0,2.0
1119,Ms. Perfect,manicmuse,2.0,3.0,4.0,5.0,2.0

In [23]:
review_overall = review[['title', 'reviewer', 'overall']]
review_overall

                                       title    reviewer  overall
0                               Mr. Sunshine  kingsqueen     10.0
1                                     Goblin  kingsqueen     10.0
2                        The Bride of Habaek  kingsqueen      7.0
3                         Jealousy Incarnate  kingsqueen      8.5
4                         Suspicious Partner  kingsqueen      7.0
...                                      ...         ...      ...
1115                     Prosecutor Princess   manicmuse      4.0
1116                   Something in the Rain   manicmuse      7.0
1117  One Million Stars Falling from the Sky   manicmuse      7.5
1118                             Ms. Perfect   manicmuse      2.0
1119                             Ms. Perfect   manicmuse      2.0

[1120 rows x 3 columns]